public/ejemplo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://example/music/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="music" targetNamespace="http://example/music/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://example/music/">
            
            <xsd:element name="searchSongRequest" type="tns:search"/>
            <xsd:complexType name="search">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="songName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            
            <xsd:element name="searchSongResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="result" type="tns:result"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="result">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="groupName" type="xsd:string"/>
                    <xsd:element name="musicType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>



            

            

        </xsd:schema>
    </wsdl:types>
    
    
    
    
    <wsdl:message name="SearchSongRequest">
            <wsdl:part name="parameters" element="tns:searchSongRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SearchSongResponse">
            <wsdl:part name="parameters" element="tns:searchSongResponse"></wsdl:part>
    </wsdl:message>
    
    
    <wsdl:portType name="music">
        <wsdl:operation name="SearchSong">
            <wsdl:input message="tns:SearchSongRequest"/>
            <wsdl:output message="tns:SearchSongResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <wsdl:binding name="musicSOAP" type="tns:music">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SearchSong">
            <soap:operation soapAction="SearchSong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    
    <wsdl:service name="music">
        <wsdl:port name="musicSOAP" binding="tns:musicSOAP">
            <soap:address location="http://localhost:8080/musicapp/music"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>