public/panamericana.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://oris-webservice/soap/export/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    targetNamespace="http://oris-webservice/soap/export/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<s:schema targetNamespace="http://oris-webservice/soap/export/" elementFormDefault="qualified">
	<s:import namespace="http://microsoft.com/wsdl/types/"/>




	<s:element name="consulta_programaRQ">
		<s:complexType>
			<s:sequence>
				<s:element name="Credenciales">
					<s:complexType>
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
						</s:sequence>
					</s:complexType>
				</s:element>
				<s:element name="Detalle">
					<s:complexType>
						<s:sequence>
						
							<s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="fechaDesde" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="fechaHasta" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="numHab" type="s:string"/>
							<s:element minOccurs="0" maxOccurs="unbounded" name="habitacion" nillable="true" type="tns:Habitaciones_consulta_programaRQ" />
							
						</s:sequence>
					</s:complexType>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="Habitaciones_consulta_programaRQ">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="adultos" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="child_1" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="child_2" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="INF" type="s:string"/>
		</s:sequence>
	</s:complexType>
	
	
	
	
	
	
	
	
	<s:element name="consulta_programaRS">
		<s:complexType>
			<s:sequence>

				<s:element minOccurs="0" maxOccurs="unbounded" name="programas" nillable="true" type="tns:programas_consulta_programaRS" />

			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="programas_consulta_programaRS">
		<s:sequence>	
			<s:element name="programa">
					<s:complexType>
						<s:sequence>			
							<s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="nota" type="s:string" />
							<s:element minOccurs="1" maxOccurs="1" name="url_itinerario" type="s:string" />
						</s:sequence>
					</s:complexType>
			</s:element>
			
			<s:element name="vigencia" >
				<s:complexType>
					<s:sequence>			
						<s:element minOccurs="0" maxOccurs="unbounded"  name="salida" nillable="true" type="tns:salida" />
					</s:sequence>
				</s:complexType>
			</s:element>
			
			
			
			
			<s:element minOccurs="1" maxOccurs="1" name="incluye" type="s:string"/>
			
			
		</s:sequence>
	</s:complexType>
	<s:complexType name="salida" >
				
					<s:sequence>			
						<s:element minOccurs="0" maxOccurs="unbounded"  name="opcion" nillable="true" type="tns:opcion" />
						<s:element minOccurs="1" maxOccurs="1" name="itinerario_vuelo" type="s:string" />
					</s:sequence>
			
	</s:complexType>
	
	<s:complexType name="opcion" >			
		<s:sequence>			
			<s:element minOccurs="1" maxOccurs="1" name="clave" type="s:string" />
			<s:element minOccurs="1" maxOccurs="1" name="moneda" type="s:string" />
			<s:element minOccurs="0" maxOccurs="unbounded"  name="hotel" nillable="true" type="tns:hotel" />
			<s:element  name="valores" >
				<s:complexType>
					<s:sequence>
		
						<s:element minOccurs="1" maxOccurs="1" name="valorHabitacion_1" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="tipoHabitacion_1" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="valorHabitacion_2" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="tipoHabitacion_2" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="valorHabitacion_3" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="tipoHabitacion_3" type="s:string"/>
						
					</s:sequence>
					</s:complexType>
			</s:element>
			
			<s:element minOccurs="1" maxOccurs="1" name="nota" type="s:string" />
		</s:sequence>
	</s:complexType>
	
	<s:complexType name="hotel" >			
					<s:sequence>			
						<s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="tipoH" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="PA" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="foto_1" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="foto_2" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="foto_3" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="foto_4" type="s:string" />
					</s:sequence>
	</s:complexType>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	






















	<s:element name="reservaProgramaRQ">
		<s:complexType>
			<s:sequence>
				<s:element name="Credenciales">
					<s:complexType>
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
						</s:sequence>
					</s:complexType>
				</s:element>
				<s:element name="Parametros">
					<s:complexType>
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="KEY_OPCION" type="s:string"/>
							<s:element minOccurs="0" maxOccurs="unbounded" name="DatosDelPasajero" nillable="true" type="tns:Habitaciones_reservaProgramaRQ" />
						</s:sequence>
					</s:complexType>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="Habitaciones_reservaProgramaRQ">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Pasaporte" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Rut" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Nombre" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Apellidos" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Fecha_Nac" type="s:string"/>
		</s:sequence>
	</s:complexType>
	
	
	
	
	<s:element name="reservaProgramaRS">
		<s:complexType>
			<s:sequence>				
				<s:element minOccurs="1" maxOccurs="1" name="TOTAL_VENTA" type="s:string"/>
				<s:element minOccurs="1" maxOccurs="1" name="COMAG" type="s:string"/>
				<s:element minOccurs="1" maxOccurs="1" name="FILE" type="s:string"/>
			</s:sequence>
		</s:complexType>
	</s:element>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<s:element name="listadoBloqueosRQ">
		<s:complexType>
			<s:sequence>
				<s:element name="Credenciales">
					<s:complexType>
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
							<s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
						</s:sequence>
					</s:complexType>
				</s:element>
				<s:element name="Parametros">
					<s:complexType>
						<s:sequence>
							<s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
                                                        <s:element minOccurs="1" maxOccurs="1" name="fecha_in" type="s:string"/>
                                                        <s:element minOccurs="1" maxOccurs="1" name="fecha_out" type="s:string"/>
						</s:sequence>
					</s:complexType>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	
	
	
	
	<s:element name="listadoBloqueosRS">
		<s:complexType>
			<s:sequence>				
				<s:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:ciudades_listadoBloqueosRS" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="ciudades_listadoBloqueosRS">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Nombre" type="s:string"/>
		</s:sequence>
	</s:complexType>
	
	
	
	
	
	
	
	
	
	
</s:schema>
</wsdl:types>
	
	
	
	<wsdl:message name="consulta_programaRQSoapIn">
		<wsdl:part name="parameters" element="tns:consulta_programaRQ"/>
	</wsdl:message>
	<wsdl:message name="consulta_programaRQSoapOut">
		<wsdl:part name="parameters" element="tns:consulta_programaRS"/>
	</wsdl:message>
	
	<wsdl:message name="reservaProgramaRQSoapIn">
		<wsdl:part name="parameters" element="tns:reservaProgramaRQ"/>
	</wsdl:message>
	<wsdl:message name="reservaProgramaRQSoapOut">
		<wsdl:part name="parameters" element="tns:reservaProgramaRS"/>
	</wsdl:message>
	
	
	<wsdl:message name="listadoBloqueosRQSoapIn">
		<wsdl:part name="parameters" element="tns:listadoBloqueosRQ"/>
	</wsdl:message>
	<wsdl:message name="listadoBloqueosRQSoapOut">
		<wsdl:part name="parameters" element="tns:listadoBloqueosRS"/>
	</wsdl:message>
	
	
	
	
	
	
	
	
	
	<wsdl:portType name="panamericanaSoap">
		
		<wsdl:operation name="consulta_programaRQ">
			<wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
				El Metodo "consulta_programaRQ" Muestra un Listado con todos los Servicios que se encuentran disponibles.
			</wsdl:documentation>
			<wsdl:input message="tns:consulta_programaRQSoapIn"/>
			<wsdl:output message="tns:consulta_programaRQSoapOut"/>
		</wsdl:operation>
		
		<wsdl:operation name="reservaProgramaRQ">
			<wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
				El Metodo "reservaProgramaRQ" Muestra un Listado con todos los Servicios que se encuentran disponibles.
			</wsdl:documentation>
			<wsdl:input message="tns:reservaProgramaRQSoapIn"/>
			<wsdl:output message="tns:reservaProgramaRQSoapOut"/>
		</wsdl:operation>
		
		
		<wsdl:operation name="listadoBloqueosRQ">
			<wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
				El Metodo "listadoBloqueosRQ" Muestra un Listado con todas las ciudades que se encuentran disponibles.
			</wsdl:documentation>
			<wsdl:input message="tns:listadoBloqueosRQSoapIn"/>
			<wsdl:output message="tns:listadoBloqueosRQSoapOut"/>
		</wsdl:operation>
		
		
		
	</wsdl:portType>
	
	
	
	
	
	<wsdl:binding name="panamericana" type="tns:panamericanaSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="consulta_programaRQ">
			<soap:operation soapAction="http://oris-webservice/soap/export/consulta_programaRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="reservaProgramaRQ">
			<soap:operation soapAction="http://oris-webservice/soap/export/reservaProgramaRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="listadoBloqueosRQ">
			<soap:operation soapAction="http://oris-webservice/soap/export/listadoBloqueosRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	
	
	
	
	<wsdl:service name="panamericana">
		<wsdl:port name="panamericana" binding="tns:panamericana">
			<soap:address location="http://jonathan-pc/panamericanaWS/server/panamericana"/>
		</wsdl:port>		
	</wsdl:service>

</wsdl:definitions>