public/panamericana.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://oris-webservice/soap/export/"
xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
targetNamespace="http://oris-webservice/soap/export/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema targetNamespace="http://oris-webservice/soap/export/" elementFormDefault="qualified">
            <s:import namespace="http://microsoft.com/wsdl/types/"/>


	

            <s:element name="tomarEspaciosRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="KEY_OPCION" type="s:string"/>
                                    <s:element minOccurs="0" maxOccurs="unbounded" name="DatosDelPasajero" nillable="true" type="tns:Habitaciones_tomarEspaciosRQ" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Habitaciones_tomarEspaciosRQ">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Pasaporte" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Rut" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Nombre" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Apellidos" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Fecha_Nac" type="s:string"/>
                </s:sequence>
            </s:complexType>
	
	
	
	
            <s:element name="tomarEspaciosRS">
                <s:complexType>
                    <s:sequence>				
                        <s:element minOccurs="1" maxOccurs="1" name="TOTAL_VENTA" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="COMAG" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="FILE" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
            <s:element name="listadoBloqueosRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="fecha_in" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="fecha_out" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
	
	
	
	
            <s:element name="listadoBloqueosRS">
                <s:complexType>
                    <s:sequence>				
                        <s:element minOccurs="0" maxOccurs="unbounded" name="Bloqueo" nillable="true" type="tns:nodoBloqueos_listadoBloqueosRS" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="nodoBloqueos_listadoBloqueosRS">
                <s:sequence>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="record_c" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="espacios" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="fecha_vuelo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="fecha_tope" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cod_prov" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="hora_limi" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="tramo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="pais" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="notas" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="id_prog" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="codigo_prog" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre_prog" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre_ope" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="CUANTOS" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="codigo_oris" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cnt_prg" type="s:string"/>
                    
                </s:sequence>
            </s:complexType>
	
	
	
	
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <s:element name="detalleProgramaRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    
                                    <s:element minOccurs="1" maxOccurs="1" name="fecha_in" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="record_c" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="codigo_prg" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="id_opc" type="s:string"/>

                                    <s:element name="habitaciones">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element minOccurs="0" maxOccurs="unbounded" name="habitacion" nillable="true" type="tns:Lis_HabitacionesRQ" />	
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>
                                    
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            
            <s:complexType name="Lis_HabitacionesRQ">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="adultos" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="edad_child_1" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="edad_child_2" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="infant" type="s:string"/>
                </s:sequence>
            </s:complexType>
            
            
	
            <s:element name="detalleProgramaRS">
                <s:complexType>
                    <s:sequence>
                        		
                        <s:element minOccurs="0" maxOccurs="unbounded" name="opcion" nillable="true" type="tns:nodoOpcion_detalleProgramaRS" />
                        <s:element minOccurs="1" maxOccurs="1" name="incluye" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="total_venta" type="s:string"/>
                    
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="nodoOpcion_detalleProgramaRS">
                <s:sequence>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="id_prg" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre_prg" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ciudad_prg" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="noches_prg" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="id_opcion" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="moneda" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="edad_mayor" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="desde" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="hasta" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="itinerario" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="itinerario_vuelo" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="nota_prg" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nota_opc" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="record_c" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="tramo" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="tipo_hab_1" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="tipo_hab_2" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="tipo_hab_3" type="s:string"/>
                    
                    <s:element name="valores">
                        <s:complexType>
                            <s:sequence>
                                <s:element minOccurs="1" maxOccurs="1" name="single" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="doble" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="triple" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="qua" type="s:string"/>
                                
                                <s:element minOccurs="1" maxOccurs="1" name="chd1" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="chd2" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="PF" type="s:string"/>
                            </s:sequence>
                        </s:complexType>
                    </s:element>
                    
                    <s:element name="hoteles">
                        <s:complexType>
                            <s:sequence>
                                <s:element minOccurs="0" maxOccurs="unbounded" name="hotel" nillable="true" type="tns:nodoHoteles_detalleProgRQ" />
                            </s:sequence>
                        </s:complexType>
                    </s:element>
                    
                </s:sequence>
            </s:complexType>
            
            <s:complexType name="nodoHoteles_detalleProgRQ">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="fecha_in" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="noches" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="categoria" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="proveedor" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="cod_pa" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="p_alimenticio" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cod_th" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="t_habitacion" type="s:string"/>

                    <s:element minOccurs="1" maxOccurs="1" name="convenio" type="s:string"/>
                </s:sequence>
            </s:complexType>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <s:element name="usuariosRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
	
	
            <s:element name="usuariosRS">
                <s:complexType>
                    <s:sequence>				
                        <s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="agencia" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="atipoa" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="id_agen" type="s:string"/>
                        
                        <s:element minOccurs="1" maxOccurs="1" name="email" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="email_opera" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <s:element name="programasRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="record_c" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
	
	
            <s:element name="programasRS">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="Programa" nillable="true" type="tns:nodoPrograma_listadoProgramasRS" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="nodoPrograma_listadoProgramasRS">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nota" type="s:string"/>
                </s:sequence>
            </s:complexType>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <s:element name="proceso_reservaRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="correo_vendedor" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="correo_oculto" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="Fecha_In_" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="CodigoPrograma" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="CodigoBloqueo" type="s:string"/>


                                    <s:element name="hoteles">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element minOccurs="0" maxOccurs="unbounded" name="hotel" nillable="true" type="tns:Lis_HotelesRQ" />	
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>


                                    <s:element minOccurs="1" maxOccurs="1" name="numHabitaciones" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numAdlHab_1" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numChildHab_1" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numInfHab_1" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numAdlHab_2" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numChildHab_2" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numInfHab_2" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numAdlHab_3" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numChildHab_3" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="numInfHab_3" type="s:string"/>

                                    <s:element minOccurs="1" maxOccurs="1" name="atipo" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="Moneda" type="s:string"/>

                                    
                                    <s:element name="Pasajeros">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element minOccurs="0" maxOccurs="unbounded" name="Pasajero" nillable="true" type="tns:Lis_PasajerosRQ" />	
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>


                                    <s:element minOccurs="1" maxOccurs="1" name="tipoHabitaciones_1" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="tipoHabitaciones_2" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="tipoHabitaciones_3" type="s:string"/>

                                    <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="datos" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="totventa" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="vage" type="s:string"/>
                                    
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Lis_HotelesRQ">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="CodigoHotel" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="FechaIn" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="NumNoches" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TipoH" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="PA" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="conVn" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Lis_PasajerosRQ">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="NombrePasajero" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Rut" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="F_nacimiento" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TipoPasajero" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="NombrePasajero_Inf" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Rut_Inf" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="F_nacimiento_Inf" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="tratoPax" type="s:string"/>
                </s:sequence>
            </s:complexType>
            
            
	
	
            <s:element name="proceso_reservaRS">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="CODIGO" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="MENSAJE" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="FILE" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="HTML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
	
	
	
	
	
        </s:schema>
    </wsdl:types>
	
	
    <wsdl:message name="tomarEspaciosRQSoapIn">
        <wsdl:part name="parameters" element="tns:tomarEspaciosRQ"/>
    </wsdl:message>
    <wsdl:message name="tomarEspaciosRQSoapOut">
        <wsdl:part name="parameters" element="tns:tomarEspaciosRS"/>
    </wsdl:message>


    <wsdl:message name="listadoBloqueosRQSoapIn">
        <wsdl:part name="parameters" element="tns:listadoBloqueosRQ"/>
    </wsdl:message>
    <wsdl:message name="listadoBloqueosRQSoapOut">
        <wsdl:part name="parameters" element="tns:listadoBloqueosRS"/>
    </wsdl:message>
    
    
    <wsdl:message name="usuariosRQSoapIn">
        <wsdl:part name="parameters" element="tns:usuariosRQ"/>
    </wsdl:message>
    <wsdl:message name="usuariosRQSoapOut">
        <wsdl:part name="parameters" element="tns:usuariosRS"/>
    </wsdl:message>
    
    
    <wsdl:message name="programasRQSoapIn">
        <wsdl:part name="parameters" element="tns:programasRQ"/>
    </wsdl:message>
    <wsdl:message name="programasRQSoapOut">
        <wsdl:part name="parameters" element="tns:programasRS"/>
    </wsdl:message>
    
    
    <wsdl:message name="proceso_reservaRQSoapIn">
        <wsdl:part name="parameters" element="tns:proceso_reservaRQ"/>
    </wsdl:message>
    <wsdl:message name="proceso_reservaRQSoapOut">
        <wsdl:part name="parameters" element="tns:proceso_reservaRS"/>
    </wsdl:message>
    
    
    <wsdl:message name="detalleProgramaRQSoapIn">
        <wsdl:part name="parameters" element="tns:detalleProgramaRQ"/>
    </wsdl:message>
    <wsdl:message name="detalleProgramaRQSoapOut">
        <wsdl:part name="parameters" element="tns:detalleProgramaRS"/>
    </wsdl:message>
	
	
	
	
	
	
	
	
	
    <wsdl:portType name="panamericanaSoap">

        <wsdl:operation name="tomarEspaciosRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "tomarEspaciosRQ".
            </wsdl:documentation>
            <wsdl:input message="tns:tomarEspaciosRQSoapIn"/>
            <wsdl:output message="tns:tomarEspaciosRQSoapOut"/>
        </wsdl:operation>


        <wsdl:operation name="listadoBloqueosRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "listadoBloqueosRQ" Muestra el Listado de bloqueos que se encuentran disponibles.
            </wsdl:documentation>
            <wsdl:input message="tns:listadoBloqueosRQSoapIn"/>
            <wsdl:output message="tns:listadoBloqueosRQSoapOut"/>
        </wsdl:operation>
        
        
        <wsdl:operation name="usuariosRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "usuariosRQ" Muestra el Listado de usuarios.
            </wsdl:documentation>
            <wsdl:input message="tns:usuariosRQSoapIn"/>
            <wsdl:output message="tns:usuariosRQSoapOut"/>
        </wsdl:operation>
        
        
        <wsdl:operation name="programasRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "programasRQ" Muestra el Listado de programas.
            </wsdl:documentation>
            <wsdl:input message="tns:programasRQSoapIn"/>
            <wsdl:output message="tns:programasRQSoapOut"/>
        </wsdl:operation>
        
        
        <wsdl:operation name="proceso_reservaRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "proceso_reservaRQ" .
            </wsdl:documentation>
            <wsdl:input message="tns:proceso_reservaRQSoapIn"/>
            <wsdl:output message="tns:proceso_reservaRQSoapOut"/>
        </wsdl:operation>
        
        
        <wsdl:operation name="detalleProgramaRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "detalleProgramaRQ" Muestra el Listado de bloqueos que se encuentran disponibles.
            </wsdl:documentation>
            <wsdl:input message="tns:detalleProgramaRQSoapIn"/>
            <wsdl:output message="tns:detalleProgramaRQSoapOut"/>
        </wsdl:operation>
        
    
    </wsdl:portType>
	
	
	
	
	
    <wsdl:binding name="panamericana" type="tns:panamericanaSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="tomarEspaciosRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/tomarEspaciosRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="listadoBloqueosRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/listadoBloqueosRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        
        <wsdl:operation name="usuariosRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/usuariosRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        
        <wsdl:operation name="programasRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/programasRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        
        <wsdl:operation name="proceso_reservaRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/proceso_reservaRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        
        <wsdl:operation name="detalleProgramaRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/detalleProgramaRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        

    </wsdl:binding>
	
	
	
	
    <wsdl:service name="panamericana">
        <wsdl:port name="panamericana" binding="tns:panamericana">
            <soap:address location="http://oristest.panamericanaturismo.cl/panamericanaWS/server/panamericana"/>
            <!-- <soap:address location="http://online.panamericanaturismo.cl/panamericanaWS/server/panamericana"/> -->
        </wsdl:port>		
    </wsdl:service>

</wsdl:definitions>