public/panamericana.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://oris-webservice/soap/export/"
xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
targetNamespace="http://oris-webservice/soap/export/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema targetNamespace="http://oris-webservice/soap/export/" elementFormDefault="qualified">
            <s:import namespace="http://microsoft.com/wsdl/types/"/>


	

            <s:element name="tomarEspaciosRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="KEY_OPCION" type="s:string"/>
                                    <s:element minOccurs="0" maxOccurs="unbounded" name="DatosDelPasajero" nillable="true" type="tns:Habitaciones_tomarEspaciosRQ" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Habitaciones_tomarEspaciosRQ">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Pasaporte" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Rut" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Nombre" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Apellidos" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="Fecha_Nac" type="s:string"/>
                </s:sequence>
            </s:complexType>
	
	
	
	
            <s:element name="tomarEspaciosRS">
                <s:complexType>
                    <s:sequence>				
                        <s:element minOccurs="1" maxOccurs="1" name="TOTAL_VENTA" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="COMAG" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="FILE" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
            <s:element name="listadoBloqueosRQ">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Credenciales">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="Parametros">
                            <s:complexType>
                                <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="fecha_in" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="fecha_out" type="s:string"/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
	
	
	
	
            <s:element name="listadoBloqueosRS">
                <s:complexType>
                    <s:sequence>				
                        <s:element minOccurs="0" maxOccurs="unbounded" name="Bloqueo" nillable="true" type="tns:nodoBloqueos_listadoBloqueosRS" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="nodoBloqueos_listadoBloqueosRS">
                <s:sequence>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="record_c" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="espacios" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="fecha_vuelo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="fecha_tope" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cod_prov" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="hora_limi" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="tramo" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ciudad" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="pais" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="notas" type="s:string"/>
                    
                    <s:element minOccurs="1" maxOccurs="1" name="id_prog" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre_prog" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nombre_ope" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="CUANTOS" type="s:string"/>
                    
                </s:sequence>
            </s:complexType>
	
	
	
	
	
	
	
	
	
	
        </s:schema>
    </wsdl:types>
	
	
    <wsdl:message name="tomarEspaciosRQSoapIn">
        <wsdl:part name="parameters" element="tns:tomarEspaciosRQ"/>
    </wsdl:message>
    <wsdl:message name="tomarEspaciosRQSoapOut">
        <wsdl:part name="parameters" element="tns:tomarEspaciosRS"/>
    </wsdl:message>


    <wsdl:message name="listadoBloqueosRQSoapIn">
        <wsdl:part name="parameters" element="tns:listadoBloqueosRQ"/>
    </wsdl:message>
    <wsdl:message name="listadoBloqueosRQSoapOut">
        <wsdl:part name="parameters" element="tns:listadoBloqueosRS"/>
    </wsdl:message>
	
	
	
	
	
	
	
	
	
    <wsdl:portType name="panamericanaSoap">

        <wsdl:operation name="tomarEspaciosRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "tomarEspaciosRQ".
            </wsdl:documentation>
            <wsdl:input message="tns:tomarEspaciosRQSoapIn"/>
            <wsdl:output message="tns:tomarEspaciosRQSoapOut"/>
        </wsdl:operation>


        <wsdl:operation name="listadoBloqueosRQ">
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
                El Metodo "listadoBloqueosRQ" Muestra el Listado de bloqueos que se encuentran disponibles.
            </wsdl:documentation>
            <wsdl:input message="tns:listadoBloqueosRQSoapIn"/>
            <wsdl:output message="tns:listadoBloqueosRQSoapOut"/>
        </wsdl:operation>
    
    </wsdl:portType>
	
	
	
	
	
    <wsdl:binding name="panamericana" type="tns:panamericanaSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="tomarEspaciosRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/tomarEspaciosRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="listadoBloqueosRQ">
            <soap:operation soapAction="http://oris-webservice/soap/export/listadoBloqueosRQ" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
	
	
	
	
    <wsdl:service name="panamericana">
        <wsdl:port name="panamericana" binding="tns:panamericana">
            <soap:address location="http://oristest.panamericanaturismo.cl/panamericanaWS/server/panamericana"/>
        </wsdl:port>		
    </wsdl:service>

</wsdl:definitions>